.wtree {
	max-height: 40vh;
	overflow-y: auto;
	padding: 4px 0 4px 8px;
	margin: 0;
}
.wtree ul {
	padding-left: 1em;
}
.wtree > ul {
	padding-left: 0;
}
.wtree summary {
	position: relative;
	height: 24px;
}
.wtree summary > a {
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
}
.wtree summary:hover > a {
	opacity: 100;
}
.wtree li {
	list-style-position: inside;
}
.wtree li.sum {
	list-style: none;
}
#img-view {
	flex: 1 1 0;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
#img-view #clip-view {
	flex: 0 1 auto;
}
#img-view #editor-canvas {
	flex: 1 1 0;
	max-width: 100%;
}
div.color {
	display: flex;
	align-content: center;
}
span.color {
	display: inline-flex;
	align-content: center;
}
.color span {
	width:24px;
	height:24px;
}
.color label {
	width: 48px;
	text-overflow: ellipse;
	white-space: nowrap;
}
.color div {
	margin-left: 4px;
}
.pal, .tset {
	padding: 4px;
}
.preview {
	display: flex;
	justify-content: center;
	align-items: center;
}
