html, body {
	margin:0;
	padding:0;
	background-color: gray;
	width:100vw;
	height:100vh;
	font-family: Ubuntu, Helvetica, Arial, sans-serif;
	color: #222;
}
canvas {
	image-rendering: pixelated;
}
.menu {
	display: flex;
	align-items: baseline;
}
.menu span {
	display: block;
	margin: .5em 1.5em;
}
.menu span.sel {
	text-decoration: underline;
}
.icon {
	display: flex;
	align-items: center;
	align-content: center;
}
.icon svg {
	width: 24px;
	height: 24px;
	fill: #666 !important;
}
.row {
	display:flex;
}
.tool .row {
	margin-bottom: 5px;
}
.tool input[type="radio"], .tool input[type="checkbox"] {
	display:none;
}
.tool input[type="radio"]:checked + .icon svg,
.tool input[type="checkbox"]:checked + .icon svg {
	fill: #222 !important;
}
#modal header {
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 10px;
}
a:hover .icon svg, input:hover + .icon svg {
	fill: #222 !important;
}
button {
	border: thin solid #111;
	color:#ddd;
	background-color: #333;
	border-radius: 3px;
}
button:hover {
	box-shadow: 0 0 3px #aaa;
	background-color: #444;
	color: #eee;
}
button:hover .icon svg {
	fill: #222 !important;
}
.form .row {
	margin-top: 8px;
	align-items: center;
}
.form button {
	margin-top: 30px;
	line-height: 24px;
	min-height: 30px
}
.form label {
	min-width: 100px;
}
.form input {
	box-sizing: border-box;
	background-color: inherit;
}
.form input[type="checkbox"] {
	min-height: 22px;
}
.form input[type="text"]:invalid {
	border-color: red;
}
.form input + span.help {
	display: none;
}
.form input:invalid + span.help {
	display: inline-block;
	margin-left: 16px;
}
.form input[type="color"] {
	height: 28px;
	padding: 0;
	border: none;
}
.form input[type="text"] {
	height: 28px;
	border: 0 solid #222;
	border-bottom-width: 1px;
}

@media (prefers-color-scheme: dark) {
	body {
		color: #ddd;
		background-color: #333;
	}
	#modalparent {
		background-color: #333333bb;
	}
	#modal {
		background-color: #555;
		color: #222;
	}
	.icon svg {
		fill: #777 !important;
	}
	.tool input[type="radio"]:checked + .icon svg,
	.tool input[type="checkbox"]:checked + .icon svg {
		fill: #eee !important;
	}
	a:hover .icon svg, input:hover + .icon svg {
		fill: #eee !important;
	}
}

